   <div class="footer">
    <div class="footer-raw">
      <div class="footer-main tops">
        <h3>Brooker</h3>
        <p>An all-in-one moderation bot with a welcome message, custom commands, leveling, leveling rewards, and more..</p>
      </div>
      <div class="footer-main">
       <h3>Vote us</h3>
        <ul>
          <li><a href="https://list-discordb.glitch.me/bot/667743057227153408">List DiscordBot</a></li>
          <li><a href="https://top.gg/bot/667743057227153408/vote">Discord Bot List</a></li>
          <li><a href="https://discord.boats/bot/667743057227153408">Discord Boats</a></li>
          <li><a href="https://bots.discordlabs.org/bot/667743057227153408">Discord Bot Labs</a></li>
        </ul> 
      </div>
      <div class="footer-main">
       <h3>Other links</h3>
        <ul>
          <li><a href="/partner">Partners</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
     </div>
     <hr style="margin: 20px auto; width: 87%; border: none; height: 1px; background-color: gray;">
     <div class="footer-raw">
       <div class="footer-main tops">
       <h2 style="margin: 0; color: white;">Invite Brooke to Discord</h2>
       <p>Build your server better with <b>Brooker</b></p>
       </div>
       <div class="footer-main">
         <button style="float: left; margin-right: 10px;" onclick="window.location.href='/invite';">Add to Discord</button>
       </div>
     </div>
   </div>