   <div class="footer">
    <div class="footer-raw">
      <div class="footer-main tops">
        <h3>BROOKER</h3>
        <p>An all-in-one moderation bot with a welcome message, custom commands, leveling, leveling rewards, and more..</p>
      </div>
      <div class="footer-main">
       <h3>VOTE ME ON</h3>
        <ul>
          <li><a href="https://top.gg/bot/667743057227153408/vote">Discord Bot List</a></li>
          <li><a href="https://discord.boats/bot/667743057227153408">Discord Boats</a></li>
          <li><a href="https://bots.discordlabs.org/bot/667743057227153408">Discord Bot Labs</a></li>
          <li><a href="https://list-discordb.glitch.me/bot/667743057227153408">List DiscordBot</a></li>
        </ul> 
      </div>
      <div class="footer-main">
       <h3>MORE INFO</h3>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/commands">Command List</a></li>
        </ul>
      </div>
     </div>
     <hr style="margin: 20px auto; width: 80%; border: none; height: 1px; background-color: gray;">
     <div class="footer-raw">
       <div class="footer-main">
       <h2 style="margin: 0; color: white;">INVITE BROOKER TO DISCORD</h2>
       <p>Build our server nice with brooker bot</p>
       </div>
       <div class="footer-main tops">
         <button style="float: right; margin-right: 10px;" onclick="window.location.href='/invite';">Add to Discord</button>
       </div>
     </div>
   </div>