   <div class="footer">
    <div class="footer-raw">
      <div class="footer-main">
       <h3>Find me on</h3>
        <a href="https://top.gg/bot/667743057227153408/vote">Discord Bot List</a> <br>
        <a href="https://discord.boats/bot/667743057227153408">Discord Boats</a> <br>
        <a href="https://bots.discordlabs.org/bot/667743057227153408">Discord Bot Labs</a>
      </div>
      <div class="footer-main">
       <h3>More Info..</h3>
       <a href="/about">About Us</a><br>
       <a href="/contact">Contact us</a><br>
       <p>Invite Brooker!</p>
       <button onclick="window.location.href='/invite';">Add to discord</button>
      </div>
     </div>
   </div>