<!DOCTYPE html>

<html>
  <head>
    <title>404 ERROR - Brooker</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
  </head>
   <body>
    <nav>
     <ul class="topnav">
      <a class="logo" href="/"><b>Brooker</b></a>
     </ul>
    </nav>
     <div style="display: flex">
       <div>
        <img width="150px" heisrc="https://cdn.glitch.com/1323a982-4296-4c66-bad7-4abb16fa15e2%2F681d4fad-ef0b-4f35-bbe2-5135fff14e3e.image.png?v=1620178210489">
       </div>
      <div style="font-size:30px; text-align: center; margin-top:10%;">
        <h1>404 NOT FOUND</h1>
        <p>Oops! Page not found</p>
        <button onclick="window.location.href='/'" style="padding: 10px; border-radius: 25px; background: none; border: 1px solid;">Back to home</button>
      </div>     
     </div>

  </body>
</html>