<!DOCTYPE html>
<html>
 <head>
  <title>Invite Brooker</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <meta property="og:title" content="Brooker - Discord Bot" /> 
  <meta property="og:description" content="Invite brooker to your server" />
  <meta property="og:image" itemprop="image" content="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png"/>  
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="0; url=https://discord.com/oauth2/authorize?client_id=667743057227153408&scope=bot&permissions=805363774&response_type=code" />
	<link rel="stylesheet" href="/style.css">
  <link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
 <body>
  <nav>
   <ul class="topnav">
    <a class="logo" href="/home"><b>Brooker</b></a>
   </ul>
  </nav>
   <div style="font-size:50px; text-align: center; margin-top:10%;">
     <a style="text-decoration: none; color: white;" href="https://discord.com/oauth2/authorize?client_id=667743057227153408&scope=bot&permissions=805363774&response_type=code">Click here if link doesn't work</a>
    </div>
  </body>
</html>