<!DOCTYPE html>

<html>
 <head>
  <title>404 ERROR - Brooker</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
 <body>
  <nav>
   <ul class="topnav">
    <a class="logo" href="/home"><b>Brooker</b></a>
   </ul>
  </nav>
   <div style="font-size:50px; text-align: center; margin-top:10%;">
     <a></a>
    </div>
  </body>
</html>