/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #23272A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1b1d;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background: url(https://media.discordapp.net/attachments/801988747205935144/831058163204882512/20210412_144801.png?width=1025&height=438);
  background-color: #2c2f33;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 0px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* ----------------------------------------------------------------- Command Ejs ---------------------------------------------------------- */
pre {
  font-family: Arial;
}

.tablink {
  background-color: #23272A;
  color: #b3b7bb;
  float: left;
  border: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 20%;
}

.tablink:hover {
  color: #fff;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.accordion {
  background-color: #23272A;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 1s;
}

.active,
.accordion:hover {
  color: #fff;
}

.panel {
  padding: 0 18px;
  display: none;
  transition: 1s;
  color: rgba(255, 255, 255, 0.75);
  background-color: #2c2f33;
  overflow: hidden;
}



/* ----------------------------------------------------------------- Topnav ---------------------------------------------------------- */

nav {
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #23272A;
}

nav ul.topnav li {
  float: left;
}

nav ul.topnav li.login {
  float: right;
}

nav ul.topnav li a {
  display: inline-block;
  color: #b3b7bb;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

nav ul.topnav li a.active {
  color: #fff;
  background-color: #23272A;
}

nav ul.topnav a.logo {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
a.logo img {
  margin-right: 5px;
  margin-top: 1px;
  float: left;
  border-radius: 50%;
}

ul.topnav li a:hover {
  color: #fff;
}

ul.topnav li.icon {
  display: none;
}

/* ------------------------------------------------------------- Index Ejs [Header] ----------------------------------------------------- */

header {
  padding-top: 30px;
  height: 500px;
  text-align: center;
  background-color: #1a1b1d;
  margin: 0;
  color: white;
}

header img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

header h1 {
  font-family: sans-serif;
  margin: 0;
}

header p {
  margin: 0;
  margin-top: 20px;
}

.button a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  border-radius: 10px;
  border: 2px solid #c9c9c9;
  padding: 10px;
  margin: 30px;
}
.button a:hover {
  border-radius: 10px;
  background-color: #c9c9c9;
  transition: 0.8s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.line-1 {
  margin: 0 auto;
  margin-top: 20px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.border {
  width: 100%;
  height: 60;
}

/* ------------------------------------------------------- Index Ejs [Feature, Statistic] ------------------------------------------ */

.fitur {
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  margin-top: 5%;
  padding: 20px;
  color: white;
}

.container {
  width: 1200px;
  border: 0 solid red;
  height: 200px;
  margin: 0 auto;
}

.box {
  width: 300px;
  height: 90px;
  float: left;
  color: white;
  background-color: #23272A;
  border-radius: 20px;
  padding: 40px;
  margin: 5px;
}

svg {
  float: left;
}

.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.8s;
}

.box-text {
  font-size: 14px;
  margin-left: 60px;
  font-family: sans-serif;
}

.box-title {
  margin-left: 60px;
}
.box1 {
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-bottom: 5%;
}
.box2 {
  display: flex;
}
.box2a {
  display: flex;
  flex-direction: row-reverse;
}
.box3 {
  width: 100%;
  height: 400px;
  color: white;
  margin: 10px;
}
.box3 img {
  display: block;
  width: 100%;
}
.box3 h1 {
  margin-top: 25%;
}
/* ----------------------------------------------------------------- Contact Ejs ---------------------------------------------------------- */

.contact {
  text-align: center;
  margin-top: 80px;
}
.contact a {
  text-decoration: none;
  color: white;
}
.contact a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #2c2f33;
  color: white;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #2c3e50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ----------------------------------------------------------------- About Ejs ---------------------------------------------------------- */

.about {
  margin: 0;
  padding: 0;
  height: 250px;
  background-color: #1a1b1d;
}

.about-title {
  float: left;
  padding: 5%;
  text-align: left;
}

.about-header img {
  margin-right: 5px;
  float: left;
  border-radius: 50%;
  margin-top: 60px;
}

.raw {
  margin-left: 15%;
}
.raw img {
  float: left;
  border-radius: 50%;
  margin: 10px;
}
.asu {
  margin-top: 2%;
}
.boxing {
  float: left;
  width: 40%;
  height: 150px;
  background-color: #23272A;
  border-radius: 70px;
  margin: 20px;
}
.boxing-title {
  text-align: left;
  font-size: 28px;
  margin-top: 40px;
  color: #fff;
  margin-bottom: 0;
}
.boxing-text {
  text-align: left;
  margin-top: 0;
  color: #fff;
}
.row {
  width: 790px;
  border: 0 solid red;
  height: 200px;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  width: 200px;
  height: 110px;
  float: left;
  padding: 16px;
  text-align: center;
  margin: 15px;
  margin-bottom: 10%;
  background-color: #23272A;
  color: white;
}
.card:hover {
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa {
  font-size: 50px;
}

.team {
  width: 60%;
  height: auto;
  margin-left: 20%;
  border: 0px solid red;
}
.team1 {
  display: flex;
}
.boxing1 {
  width: 100%;
  height: 150px;
  margin: 5px;
  background-color: #23272A;
  border-radius: 5%;
  border: 0px solid green;
}
.boxing1:hover {
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boxing1 img {
  float: left;
  border-radius: 50%;
  margin: 10px;
  height: auto;
  image-orientation: none;
}

/* ----------------------------------------------------------------- Manage ----------------------------------------------------------*/

.manage-top{
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.manage-main{
  border-radius: 15px;
  width: 350px;
  display: flex;
  height: 150px;
  cursor: pointer;
  margin: 10px;
  background-color: #23272a;
}   

.manage-main:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.8s;
}

.manage-image{
  border: 0px solid;
  width: 110px;
  height: 110px;
  color: white;
  margin: 20px 10px 0px 11px;        
}
.manage-text{
  width: 200px;
  height: 110px;
  margin: 20px 5px 0px 0px; 
}
.manage-text h1{
  font-size: 18px;
  color: white;
  margin-bottom: 2px;
}
.manage-text p{
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.62);
  font-size: 13px;
}

.config-main{
  width: auto;
  background-color: #23272a;
  border-radius: 25px;
  height: auto;
  border: 0px solid;
  margin: 10px;
  color: white;
}
.config-main h3{
  margin: 10px 15px 0px 15px; 
  text-align: center;
}
.config-top{
  width: 80%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  border: 0px solid;
}
.config-form{
  margin: auto 20px 25px; 
  text-align: center;
}
.config-list{
  margin: auto 20px 25px; 
  overflow-x: auto;
  border: none;
}

/* ------------------------------------------------------------------ commands -----------------------------------------------------*/
table {
  width:100%;
}
table, th, td {
  border: 1px solid #23272a;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  color: white;
}
tr:nth-child(even) {
  background-color: #2c2f33;;
}
tr:nth-child(odd) {
 background-color: #2c2f33;;
}
th {
  background-color: #1f2123;
  color: white;
}
  
.detail{
      margin: 0 0px 20px 0px;
}

.tables{
    overflow-x: auto; 
}
/* ----------------------------------------------------------------- Partner --------------------------------------------------------*/

blockquote{
  padding: 5px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: ridge;
}

blockquote p {
  margin-top
}

code {
  font-family: monospace;
  color: crimson;
  padding: 2px;
  font-size: 105%;
}
pre {
  background-color: #2d2c2c;
  padding: 10px;
  border-radius: 5px;
}


.partner-top {
  width: 90%;
  height: auto;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partner {
  color: white;
  border-radius: 25px;
  width: 250px;
  height: 290px;
  margin: 10px;
  background-color: #1a1b1d;
  text-align: center;
}
.partner:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.8s;
}
.partner img {
  margin-top: 10px;
  width: 125px;
  border-radius: 100%;
}
.partner h4 {
  margin-bottom: 0;
  margin-top: 10%;
}
.partner p {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  word-break: break-word;
  text-align: left;
  overflow: overlay;
  margin-bottom: 30px;
  font-size: 12px;
}
.partner-link {
  padding: 10px 20px;
  background-color: #23272a;
  border-radius: 5%;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.comment-top{
  width: 80%; 
  margin: 25px auto; 
  height: auto;
}
.comment-image{
  width: 50px; 
  height: auto; 
  margin: 0;
}
.comment-username{
  width: auto; 
  margin-left: 10px; 
  margin-top: 8px; 
  color: white; 
  display: flex
}
.comment-main{
  width: 90%; 
  margin-left: 64px; 
  margin-top: 0; 
  color: white; 
}

.partners{
  display: flex; width: 80%; margin: 0 auto; height: auto;
}
.partners-main{
  margin: 0 10px; width: auto; height: auto; text-align: left;
}
.partners-main img{
  margin: 15px auto 0px; width: 90%; box-shadow: 8px 5px 10px #1a1b1d;
}
.partners-desc{
  text-align: left; padding: 20px; padding-top: 1px; margin: 0 auto; width: 80%; height: auto; border-radius: 25px; background-color: #23272a;
}
.partners-desc a{
  color: #0d6efd;
}
.partners-desc a:hover{
  color: #0a58ca;
}
@media only screen and (max-width: 1200px) { 
  .partners{
    display: block;
  }
  .partners-main{
    margin: 0 auto;
    text-align: center;
  }
  .partners-main img{
     width: auto;
  }      
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #23272A;
    border-radius: 25px;
    margin: auto;
    display: table;
    text-align: center;
    color: #fff;
    padding: 40px;
    width: 50%;
}

.abc {
 border: 1px solid white;
 margin: 5px;
}  

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  background-color: #23272A;
  text-decoration: none;
  border: none;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ----------------------------------------------------------------- 404 Page ---------------------------------------------------------- */

.as1{
  display: flex; 
  flex-wrap: wrap; 
  width: auto; 
  place-content: center; 
  margin-top: 5%;
}
.as2 img{
  max-width: 100%
}
.as3{
  font-size:30px; 
  text-align: left; 
  margin-top: 5%; 
  margin-bottom: 10%; 
  color: gray;
}
.as3 p{
  margin-bottom: 0;
}
.as3 button{
  padding: 15px; 
  margin: 40px 0; 
  border-radius: 25px; 
  background: none; 
  border: 1px solid; 
  color: gray;
}

/* ----------------------------------------------------------------- Footer ---------------------------------------------------------- */
/* footer{
    background-color: #23272A;
    color: white;
    padding: 20px;
    margin-top: 10%;
    text-align: center;
}
footer h3{
  margin: 0;
}
footer a{
  text-decoration: none;
  color: #fff;
  margin-bottom: 30px;
}
footer a:hover{
  text-decoration: underline;
}
footer div {
  margin-top: 27px;
} */

.footer {
  width: 100%;
  height: auto;
  background-color: #1a1b1d;
  position: relative;
  bottom: 0;
  margin-top: 10%;
}
.footer-raw {
  display: flex;
  flex-wrap: wrap;
  margin: 0 9%;
}
.footer-main {
  width: auto;
  height: auto;
  margin: 50px 20px;
  margin-right: 10%;
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.footer-main.tops{
  width: 40%;
}
.footer-main ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-main ul li{
  margin-bottom: 5px;
}
.footer-main a {
  text-decoration: none;
  color: #807b7b;
}
.footer-main a:hover {
  color: #fff;
}
.footer-main p {
  color: #807b7b;
  margin: 5px 0px 2px;
}
.footer-main button {
  text-decoration: none;
  border: none;
  margin-top: 3px;
  font-size: 16px;
  background-color: #fffff0;
  border-radius: 5px;
  padding: 15px;
}
/* ====================================================== [R E S P O N S I V E] ============================================================ */

/* ----------------------------------------------------------------------------------------------------------------------------------------
                                                       [Topnav Responsive] 
----------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  nav ul.topnav a.logo {
    float: unset;
  }
}

@media screen and (max-width: 680px) {
  nav ul.topnav li {
    float: left;
  }

  nav ul.topnav.responsive {
    position: relative;
  }
  nav ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  nav ul.topnav.responsive li a {
    display: block;
    text-align: left;
    transition: 0.3s;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------
                                                       [Mobile Responsive] 
----------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  /* ----------------------------------------------------------------- Index ejs ---------------------------------------------------------- */
  .row {
    width: 260px;
    height: 500px;
    margin: 0 auto;
  }

  .card {
    float: none;
  }

  .border {
    width: calc(100% - 1px);
    height: 40px;
  }

  .container {
    width: auto;
    height: 600px;
    border: 0 solid red;
  }
  .box {
    width: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .box2 {
    display: flex;
    flex-direction: column;
  }
  .box2a {
    display: flex;
    flex-direction: column;
  }
  .box3 h1 {
    margin-top: 0;
  }
  .box img {
    margin-top: 50%;
  }
  /* ----------------------------------------------------------------- About Ejs ---------------------------------------------------------- */

  .about-title {
    float: left;
    padding: 6%;
    text-align: left;
  }
  .about-header img {
    display: none;
  }

  .raw {
    width: auto;
    height: 300px;
    margin-left: 0;
    border: 0 solid red;
  }
  .raw img {
    width: 60px;
    height: 60px;
  }
  .boxing {
    width: auto;
    font-size: inherit;
    height: 80px;
    margin: auto;
    float: none;
  }
  .asu {
    margin-top: 0%;
  }
  .boxing h1 {
    font-size: inherit;
    text-align: center;
    margin-right: 20%;
    padding-top: 18px;
  }
  .boxing-title {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
  }
  .boxing-text {
    font-size: inherit;
    margin-right: 0;
    text-align: center;
  }
  .team1 {
    display: flex;
    flex-flow: wrap;
  }
  .boxing1 img {
    display: none;
    /*     margin: 0 auto;
    float: none;
    border-radius: 50%;
    width: 20%;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    image-orientation: none; */
  }

  /*------------------------------------------------------------------ Manage ejs ----------------------------------------------------------- */
  .manage-main{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .manage-top{
    justify-content: center;
  }
  .manage-image{
    display: none;
  }
  
  /* ----------------------------------------------------------------- Command Ejs ---------------------------------------------------------- */

  .tablink {
    font-size: 13px;
    width: 100%;
    padding: 14px 3px;
  }
  /* ----------------------------------------------------------------- 404 Page ---------------------------------------------------------- */
  .as2 img{
    display: none;
  }
  .as3{
    font-size: 20px;
    text-align: center;
  }
  
  /*--------------------------------------------------------------------- Footer ejs -------------------------------------------------------- */
  .footer-main{
    margin-right: 0;
  }
  .footer-main.tops{  
    width: 100%;
    margin-right: 0;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------
                                                       [Desktop Responsive] 
----------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1808px) {
  .border {
    width: calc(100% - 1px);
    height: 60;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------
                                                       [Tablet Responsive] 
----------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  /* ----------------------------------------------------------------- Index Ejs ---------------------------------------------------------- */

  .container {
    width: 590px;
    height: 600px;
    border: 0 solid red;
  }

  .box {
    width: 500px;
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .row {
    width: 560px;
    height: 500px;
    margin: 0 auto;
  }

  .card {
    width: 500px;
    height: auto;
    float: none;
  }
  .box2 {
    display: flex;
    flex-direction: column;
  }
  .box2a {
    display: flex;
    flex-direction: column;
  }
  .box3 img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .box3 h1 {
    margin-top: 0;
  }
  /* ----------------------------------------------------------------- About Ejs ---------------------------------------------------------- */

  .raw {
    width: auto;
    height: 250px;
    margin-left: 11px;
  }
  .raw img {
    width: 63px;
    height: 65px;
    margin-top: 12px;
    margin-right: 22px;
    margin-left: 23px;
  }
  .boxing {
    font-size: 14px;
    width: 99%;
    height: 90px;
    margin: 0;
    margin-top: 26px;
    float: left;
  }
  .boxing h1 {
    text-align: center;
    padding-top: 0;
    margin-right: 16%;
    margin-top: 14px;
  }
  .asu {
    margin-top: 0%;
  }
  .boxing p {
    text-align: center;
    margin-right: 16%;
  }
  .boxing-title {
    margin-top: 40px;
    font-size: x-large;
    text-align: center;
  }
  .boxing-text {
    text-align: center;
  }
  .about-header img {
    display: none;
    margin: 0;
  }
  .team1 {
    display: flex;
    flex-flow: wrap;
  }
  
  /* --------------------------------------------------------------------- Footer ejs -------------------------------------------------------- */
  .footer-main.tops{
   width: 100%;
  }
}
