<!DOCTYPE html>
<html>
<head>
    <% if(user) { %>
      <title><%= user.username %> - Brooker</title> 
    <% }else{ %> 
     	<title>Brooker - The Discord Bot</title> 
    <% } %>
  <meta property="og:title" content="Brooker - The Discord Bot" /> 
  <meta property="og:description" content="The broker provides multi-purpose commands for your server needs." />
  <meta property="og:image" itemprop="image" content="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png"/>  
  <meta name="author" content="Dyt"> 
  <meta name="theme-color" content="#2f3136">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/script.js" type="text/javascript"></script> 
  <script async src="https://arc.io/widget.min.js#Pt6KnfXJ"></script>
	<link rel="icon" href="https://media.discordapp.net/attachments/788251058630688802/790221357707034664/circle-cropped_1.png">
</head>
 <body>
 <%- include('../partials/navbar')%>
   <div class="alert">
     <span class="closebtn">&times;</span>  
     <strong>Error!</strong> Command is already available on the server 
   </div>
  <script>
  var close = document.getElementsByClassName("closebtn");
  var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 450);
  }
 }
  </script>
	<header>
	  <img src="https://images-ext-1.discordapp.net/external/iwitxyfDRYhLyLeJ7DoXk82etq81y6pdQ26DqvG0UvE/%3Fsize%3D256/https/cdn.discordapp.com/avatars/667743057227153408/c8a126a772dc1861b6160af214aa9baf.png" width="230" height="230" draggable="false">
		 <h1>Brooker</h1>
      <p class="line-1 anim-typewriter">A SIMPLE DISCORD BOT</p> 
       <hr style="width: 25%; margin-bottom: 20px;">
         <div class="button">
           <a href="invite">ADD TO DISCORD</a>
         </div>
	</header>
   <img class="border" height="100" src="https://media.discordapp.net/attachments/801988747205935144/831086037714468874/20210412_163856.png?width=1025&height=200" draggable="false">
   <div class="fitur"><b>FEATURE</b></div>
      <hr style="width: 60%; margin-bottom: 40px;">
      <div style="margin-top: 50px;" class="box1">
        <div class="box2">
          <div class="box3"><img src="https://media.discordapp.net/attachments/804195092512112721/826314683840593920/20210330_123836.png?width=1250&height=1250"></div>
          <div class="box3"><h1>Leveling System</h1>
          <p>The XP system is provided with a "Rewards Role" where if a member has leveled up, he / she will get a role that has been set with the command "Rewards Role"</p><br>
          <p>By using the NPM canvascord image to display your rank or the number of XP is more interesting and quality</p></div>
        </div>
      </div>
       <div class="box1">
        <div class="box2a">
          <div class="box3"><img src="https://media.discordapp.net/attachments/804195092512112721/826316967321010186/20210330_124827.png?width=1250&height=1250"></div>
          <div class="box3"><h1>Welcomer System</h1>
          <p>The welcomer system is provided with a custom message for settings when a member logs in to the server and several other interesting things</p><br>
          <p>Welcomer uses NPM canvas-senpai which is very elegant and simple</p></div>
        </div>
      </div>
   <%- include('../partials/footer')%>
  </body>
</html>